.mainSection {
  min-height: 92vh;
  padding: 20px;
  background-color: var(--body-bg);
  color: var(--body-color);
  transition: background-color 0.3s, color 0.3s;
}

.budgetInfo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.budgetInfo div {
  background-color: var(--header-bg);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex: 1 1 30%;
  text-align: center;
}

.budgetInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchSection {
  margin-bottom: 20px;
  text-align: left;
}

.searchInput {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.expenseList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.expenseCard {
  background-color: var(--header-bg);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.expenseDetail {
  flex: 1 1 50%;
  text-align: left;
  padding: 5px;
}

.expenseAmount {
  flex: 1 1 20%;
  text-align: center;
  padding: 5px;
}

.deleteButton {
  flex: 1 1%;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #FF4B4B;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.deleteButton:hover {
  background-color: #cc0000;
}

.inputSection {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.inputSection input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1 1 45%;
}

.inputSection button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1 1 4%;
  text-align: center;
}

.inputSection button:hover {
  background-color: #0056b3;
}

.saveButton {
  padding: 10px;
  width: calc(100% - 20px);
}

/* New styles for save button */
.saveBtn {
  padding: 6px 10px;
  margin-left: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold;
}

.saveBtn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* New styles for edit button */
.editButton {
  width: 50%;
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold;
}

.editButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
